body {
  background: #212121 !important;
  height: 100vh;
  width: 100vw;
}

#mainInput {
  background: #313131;
  color: #fff;
  margin: auto;
  width: 100%;
  height: 80vh;
}

.overlay {
  color: #fff;
  pointer-events: none;
  width: 96%;
  height: 100%;
  position: absolute;
  text-align: right;
}